body{
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding:0;
    height: 100vh;
    align-items: center;
    overflow: hidden; /*it will remove the scroll bar*/
    
}

.board{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    height: 100vmin;
    width : 100 vmin;
    gap: 1vh;

    

}

.cell{
    background-color: #f6c1c8;
    font-size: large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

